 :root {
  --primary: #232F3E;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}
body {margin:0;}

/*top bar start*/
.topbar {
	display: flex;
	background-color:#494949;
	justify-content: center;
}
.topbar-container {
	display:flex;
	flex-direction: row;
	width: 80%;
	justify-content: space-between;
	align-items: center;
	margin: 0 2px;

}
.topbar-col-right {
	display: flex;
	flex-direction: row;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14px;
	color: white;


}

.login-container {
	display: flex;
	flex-direction: row;
	margin-right: 10px;
	align-items: center;
}
.login-container a {
	margin: 0 10px;
		text-decoration: none solid rgb(255, 255, 255);
		color: white;
}
.cart-container a {
	margin: 0 20px 0 5px;
		text-decoration: none solid rgb(255, 255, 255);
		color: white;
}
.cart-container {
	display: flex;
	align-items: center;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.search-container button:hover {
  background: #ccc;
}
.search-container input[type=search] {
  padding: 6px;
  margin-top: 8px;
  font-size: 14px;
  border: none;
}
/*end of top bar*/

/*low bar start*/
.lowbar{
	display: flex;
	justify-content: center;
  margin-bottom: 20px;
}
.lowbar-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 0 10px;
}
.logo {
	margin: 0;
}
.logo img{
	width: 250px;
	height: 250px;
}
/* A simple, css only, (some-what) responsive menu */

 
.menu {
  display: inline-block;
  margin:0;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  width: 95%;
  

}

/* a little "umph" */

a {
  text-decoration: none;
  color: black;
  display: block;

}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}

li {
  float: left;
}

/* clear'n floats */
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

.nav {
  display: flex;
  justify-content: center;
  /* background: #2B2B2B; */
  background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  text-align: center;
  letter-spacing: 1px;
  /* text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888; */
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
      font-family:Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 15px;
}

/* prime */
ul.primary li a {
  display: block;
  padding: 20px 30px;
  /* border-right: 1px solid #3D3D3D; */
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  
  color: #000;
}

/* sub-menus */
ul.sub-menu {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 40%;
  display:none;
}

ul.sub-menu li {
  float: none;
  margin: 0;
}

ul.sub-menu li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 30px;
}

ul.sub-menu li:last-child a {
  border-bottom: none;
}

ul.sub-menu li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sub-menu display*/
ul.primary li:hover ul {
  display: block;
  background: #fff;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }
  
  .menu {
    width: 100%;
    margin-top: 0px;
  }
  
   li {
    float: none;
  }
  
  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  ul.sub-menu {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  ul.sub-menu li a {
    background: #272727;
  	border: none;
    color: #8B8B8B;
  }
  
  ul.sub-menu li a:hover {
    color: #ccc;
    background: none;
  }
}


.carousel-wrapper {
  display: flex;
  justify-content: center;
}

.carousel-cont {
	display:flex;
	flex-direction: row;
	width: 80%;
	justify-content: center;
	align-items: center;
	margin: 0 2px;

}

.popular {
  margin-top: 20px;
}
.popular h2 {
  font-family:Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 28px;
}

.popular-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
    border: none;
  background-color: none;
  border-radius: 0.5rem;
  margin: 1rem;
    font-family:Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  text-align: center;
}
.product-name {
  font-weight: bold;
  vertical-align: bottom;

}
.product-price {
  vertical-align: bottom;
}
.product-img {
  vertical-align: middle;
}