
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.icon-ftd {
  width: 50px;
  height: 50px;
}
.logo {
  height: 50px;
  width: 300px;
}
.topbar-container .lowbar-container{
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto; 
}


.topbar, .lowbar-top{
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  position: relative;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}

.topbar-col-left, .lowbar-top-col-right {
  display:flex;
  vertical-align: top;
}
.lowbar-top-col-right-item {
  padding-right: 10px;
}
.topbar-col-left-info {
  line-height: 22px;
}
.topbar-col-left-info ul, .topbar-col-right ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.topbar-col-left-info li, .topbar-col-right li {
  padding-right: 20px;
}


.lowbar-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.lowbar-menu nav ul li {
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    color: #191919;
    font-weight: 400;
    letter-spacing: 0.04em;
    padding: 28px 12px 27px;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;  
}
